/* Add here all your CSS customizations */
.page-header h2 {
    border-bottom-color: #282C38;
}
.sidebar-toggle {
    background-color: #ffcc00;
}

body .btn-primary {
    color: #282C38;
    text-shadow: rgb(0 0 0 / 25%) 0px -1px 0px;
    border-color: #ffcc00;
    background-color: #ffcc00;
}

.panel-group .panel-accordion .panel-heading a {
    color: #282C38;
}